@model ContactPage

<p>
@if(Model != null) 
{
    @Model.PageName<br />
    @Html.Translate("/alloy/contact/phone")@: : @Model.Phone<br />
    @Html.Translate("/alloy/contact/email")@: : @Html.DisplayFor(m => m.Email)
} 
else
{
    @Html.Translate("/alloy/contact/noneselected")  
}
</p>
