@model IPageViewModel<SitePageData>
<div class="row">
    <div class="span12 footer">
        <hr />
        <div class="row">
            <div class="span3">
                <h3>@Html.Translate("/alloy/footer/products")</h3>
                @Html.PropertyFor(x => x.Layout.ProductPages)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/alloy/footer/company")</h3>
                @Html.PropertyFor(x => x.Layout.CompanyInformationPages)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/alloy/footer/news")</h3>
                @Html.PropertyFor(x => x.Layout.NewsPages)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/alloy/footer/customerzone")</h3>
                @Html.PropertyFor(x => x.Layout.CustomerZonePages)
                <ul>
                    <li>
                        @if(Model.Layout.LoggedIn)
                        {
                            @Html.ActionLink(Html.Translate("/alloy/footer/logout"), "Logout")
                        } 
                        else
                        {
                            <a href="@Model.Layout.LoginUrl" title="@Html.Translate("/alloy/footer/login")">@Html.Translate("/alloy/footer/login")</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
